
<div class="delbox" >
  <div ><h2 class="deltext">Are you sure you want to cancel your account? <br>By doing so you will no longer have <br>access to you original profile or posts.</h2>
    <div id="delbtns">
      <form action="/delete" method="post">
      <input type="submit" value="Yes I'm sure, cancel my account">
      </form>
      <form action="/account" method="get">
      <input type="submit" value="No!! my bad..I made a mistake">
      </form>
    </div>
  </div>
</div>
