<h2>Are you rure you want to cancel your account?  By doing so you will no longer have access to you original profile or posts.</h2>


<button id="delete"> Yes I'm sure, cancel my account</button>

<button id="mistake">No!! my bad..I made a mistake</button>
