

<form action="/post" method="post">
  <input type="text" name="title" placeholder="title">
  <!-- <input type="text" placeholder="Username" name="username"><br> -->
  <input type="integer"
  <input type="text" placeholder="content" name="content" ><br>
  <input type="url" placeholder="Add image" name="url"><br>
  <input type="submit" value="Post"><br>
</form>
