<!-- Your profile has been deleted! We'll miss you!

<a href="/signup">Click here to create a new account</a> -->


<!--
#
# post '/delete' do
#   User.destroy(session[:user_id])
#   session[:user_id] == nil
#   'Your profile has been deleted'
# end -->
