body {
  margin: 0;
  padding: 0;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


/* HOMEPAGE */


html {
  /* <!-- Photo by Houcine Ncib on Unsplash --> */
  background-image: url('images/homeback3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: pink; */
}




.htitle {
  vertical-align: 50%;
  text-align: center;
  color: red;
  padding: 67px;
  font-size: 80px;
}

.hbutton {
    background-color: transparent;
    transition-duration: 0.4s;
    background-color: purple;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hbutton:hover {
    background-color: purple;
    color: white;
}


.home_grid {
  display: grid;
  grid-template: 100% / 50% 50%;
}


#hsignup {
  margin-left: 400px;
  padding: 20px;
}

#hlogin {
  margin-left: 127px;
  padding: 20px;
}
