html {
  /* <!-- Photo by Houcine Ncib on Unsplash --> */
  background-image: url('images/homeback3bw.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hsignup {
  margin-left: 375px;
  padding: 20px;
}

#hlogin {
  margin-left: 127px;
  padding: 20px;
}

.htitle {
  vertical-align: 50%;
  text-align: center;
  color: red;
  padding: 67px;
  font-size: 80px;
}

.hbutton {
    background-color: transparent;

    background-color: gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.hbutton:hover {
    background-color: red;
    color: white;
    transition-duration: 0.4s;
}


.home_grid {
  display: grid;
  grid-template: 100% / 50% 50%;
}
