:root {
  --boxes: wheat;
}



html {
  background-image: url('images/bothtat2.jpeg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    color: var(--boxes);
    font-weight: bold;
}

li a {
    display: block;
    color: var(--boxes);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.accttop {
  padding-bottom: 60px;
  padding-top: 25px;
  text-align: center;
}

#profile {
  background-color: var(--boxes);
  padding-top: 26px;
  padding-bottom: 22px;
}

.acct-grid {
  display:grid;
  grid-template-columns: 30% 70%;

}

.left_grid {

}

.tl_grid {
  width: 90%;
  display: grid;
  grid-template: auto/60%;
  margin-left: 23.5%;
  align-content: center;
}

.cells {
  padding: 1em;
  border: black 1px solid;
  height: 69vh;
  text-align: center;
  background-color: rgb(245, 222, 179, 0.75);
  background: opacity .5;
  margin-top: 25px;
  box-shadow: 10px 10px 5px rgb(110, 16, 16);
}


.signlog {
  padding-top: 20px;
  margin-left: 333px;
  padding-left: 200px;
  background-color: wheat;
  margin-right: 333px;
  padding-bottom: 71px;
  margin-top: 65px;
  border-radius: 25px;
}

#logform {
  padding-top: 20px;
  margin-left: 185px;
  padding-left: 300px;
}

.post-box {
  margin-left: 333px;
  padding-left: 0px;
  background-color: wheat;
  margin-right: 333px;
  padding-bottom: 0px;
  margin-top: 65px;
  border-radius: 25px;
  padding-top: 98px;
}

#postform {
  padding-top: 39px;
  margin-left: -314px;
  padding-left: 300px;
}

#searchbar {
  text-align: center;
}

#mygrid {
  width: 90%;
  display: grid;
  grid-template: auto/60%;
  margin-left: 23.5%;
  align-content: center;
}

.mygridbox {
  border: 1px solid black;
}

.deltext {
  padding-top: 4%;
  text-align:center;
  color: red;
  font-weight: bold;
  font-size: 30px
}

#cancel {
  color: red;
}

.delbox {
  background-color: var(--boxes);
  margin-left: 15%;
  margin-right: 13%;
  margin-top: 9%;
  padding-bottom: 3%;
  border-radius: 25px;
}
 #delbtns {
   text-align: center;
 }

#timelinebtn {
  text-align: center;
 }
